---
interface Props {
    href: string,
    title: string
}

const {title} = Astro.props;
---

<a href="/launches" class="w-full inline-flex justify-center font-semibold shadow-custom p-2 rounded-lg bg-custom-gradient border border-primary hover:saturate-[1.25] transition duration-150">
    {title}
</a>