---
interface Props {
    href: string,
    title: string
}

const {title} = Astro.props;
---

<a href="/launches" class="w-full inline-flex justify-center font-semibold p-2 rounded-lg bg-custom-gradient border border-primary hover:border-light transition-colors duration-200">
    {title}
</a>