---
interface Props {
    title: string;
    desc: string;
}

const { title, desc } = Astro.props;
---

<div class="w-full px-8 relative mb-10">
    <div class="flex gap-[6px] items-center">
        <slot />
        <h3 class="text-2xl font-bold text-neutral-200">{title}</h3>
    </div>

    <p class="text-lg text-neutral-400">{desc}</p>

    <div class="absolute top-0 left-0 -translate-x-2 -translate-y-6">
        <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g opacity="0.2" clip-path="url(#clip0_208_272)">
                <path
                    d="M0 1.09375C0.604061 1.09375 1.09375 0.604061 1.09375 0C1.09375 -0.604061 0.604061 -1.09375 0 -1.09375C-0.604061 -1.09375 -1.09375 -0.604061 -1.09375 0C-1.09375 0.604061 -0.604061 1.09375 0 1.09375Z"
                    fill="white"></path>
                <path
                    d="M17.5 1.09375C18.1041 1.09375 18.5938 0.604061 18.5938 0C18.5938 -0.604061 18.1041 -1.09375 17.5 -1.09375C16.8959 -1.09375 16.4062 -0.604061 16.4062 0C16.4062 0.604061 16.8959 1.09375 17.5 1.09375Z"
                    fill="white"></path>
                <path
                    d="M35 1.09375C35.6041 1.09375 36.0938 0.604061 36.0938 0C36.0938 -0.604061 35.6041 -1.09375 35 -1.09375C34.3959 -1.09375 33.9062 -0.604061 33.9062 0C33.9062 0.604061 34.3959 1.09375 35 1.09375Z"
                    fill="white"></path>
                <path
                    d="M52.5 1.09375C53.1041 1.09375 53.5938 0.604061 53.5938 0C53.5938 -0.604061 53.1041 -1.09375 52.5 -1.09375C51.8959 -1.09375 51.4062 -0.604061 51.4062 0C51.4062 0.604061 51.8959 1.09375 52.5 1.09375Z"
                    fill="white"></path>
                <path
                    d="M70 1.09375C70.6041 1.09375 71.0938 0.604061 71.0938 0C71.0938 -0.604061 70.6041 -1.09375 70 -1.09375C69.3959 -1.09375 68.9062 -0.604061 68.9062 0C68.9062 0.604061 69.3959 1.09375 70 1.09375Z"
                    fill="white"></path>
                <path
                    d="M0 18.5938C0.604061 18.5938 1.09375 18.1041 1.09375 17.5C1.09375 16.8959 0.604061 16.4062 0 16.4062C-0.604061 16.4062 -1.09375 16.8959 -1.09375 17.5C-1.09375 18.1041 -0.604061 18.5938 0 18.5938Z"
                    fill="white"></path>
                <path
                    d="M17.5 18.5938C18.1041 18.5938 18.5938 18.1041 18.5938 17.5C18.5938 16.8959 18.1041 16.4062 17.5 16.4062C16.8959 16.4062 16.4062 16.8959 16.4062 17.5C16.4062 18.1041 16.8959 18.5938 17.5 18.5938Z"
                    fill="white"></path>
                <path
                    d="M35 18.5938C35.6041 18.5938 36.0938 18.1041 36.0938 17.5C36.0938 16.8959 35.6041 16.4062 35 16.4062C34.3959 16.4062 33.9062 16.8959 33.9062 17.5C33.9062 18.1041 34.3959 18.5938 35 18.5938Z"
                    fill="white"></path>
                <path
                    d="M52.5 18.5938C53.1041 18.5938 53.5938 18.1041 53.5938 17.5C53.5938 16.8959 53.1041 16.4062 52.5 16.4062C51.8959 16.4062 51.4062 16.8959 51.4062 17.5C51.4062 18.1041 51.8959 18.5938 52.5 18.5938Z"
                    fill="white"></path>
                <path
                    d="M70 18.5938C70.6041 18.5938 71.0938 18.1041 71.0938 17.5C71.0938 16.8959 70.6041 16.4062 70 16.4062C69.3959 16.4062 68.9062 16.8959 68.9062 17.5C68.9062 18.1041 69.3959 18.5938 70 18.5938Z"
                    fill="white"></path>
                <path
                    d="M0 36.0938C0.604061 36.0938 1.09375 35.6041 1.09375 35C1.09375 34.3959 0.604061 33.9062 0 33.9062C-0.604061 33.9062 -1.09375 34.3959 -1.09375 35C-1.09375 35.6041 -0.604061 36.0938 0 36.0938Z"
                    fill="white"></path>
                <path
                    d="M17.5 36.0938C18.1041 36.0938 18.5938 35.6041 18.5938 35C18.5938 34.3959 18.1041 33.9062 17.5 33.9062C16.8959 33.9062 16.4062 34.3959 16.4062 35C16.4062 35.6041 16.8959 36.0938 17.5 36.0938Z"
                    fill="white"></path>
                <path
                    d="M35 36.0938C35.6041 36.0938 36.0938 35.6041 36.0938 35C36.0938 34.3959 35.6041 33.9062 35 33.9062C34.3959 33.9062 33.9062 34.3959 33.9062 35C33.9062 35.6041 34.3959 36.0938 35 36.0938Z"
                    fill="white"></path>
                <path
                    d="M52.5 36.0938C53.1041 36.0938 53.5938 35.6041 53.5938 35C53.5938 34.3959 53.1041 33.9062 52.5 33.9062C51.8959 33.9062 51.4062 34.3959 51.4062 35C51.4062 35.6041 51.8959 36.0938 52.5 36.0938Z"
                    fill="white"></path>
                <path
                    d="M70 36.0938C70.6041 36.0938 71.0938 35.6041 71.0938 35C71.0938 34.3959 70.6041 33.9062 70 33.9062C69.3959 33.9062 68.9062 34.3959 68.9062 35C68.9062 35.6041 69.3959 36.0938 70 36.0938Z"
                    fill="white"></path>
                <path
                    d="M0 53.5938C0.604061 53.5938 1.09375 53.1041 1.09375 52.5C1.09375 51.8959 0.604061 51.4062 0 51.4062C-0.604061 51.4062 -1.09375 51.8959 -1.09375 52.5C-1.09375 53.1041 -0.604061 53.5938 0 53.5938Z"
                    fill="white"></path>
                <path
                    d="M17.5 53.5938C18.1041 53.5938 18.5938 53.1041 18.5938 52.5C18.5938 51.8959 18.1041 51.4062 17.5 51.4062C16.8959 51.4062 16.4062 51.8959 16.4062 52.5C16.4062 53.1041 16.8959 53.5938 17.5 53.5938Z"
                    fill="white"></path>
                <path
                    d="M35 53.5938C35.6041 53.5938 36.0938 53.1041 36.0938 52.5C36.0938 51.8959 35.6041 51.4062 35 51.4062C34.3959 51.4062 33.9062 51.8959 33.9062 52.5C33.9062 53.1041 34.3959 53.5938 35 53.5938Z"
                    fill="white"></path>
                <path
                    d="M52.5 53.5938C53.1041 53.5938 53.5938 53.1041 53.5938 52.5C53.5938 51.8959 53.1041 51.4062 52.5 51.4062C51.8959 51.4062 51.4062 51.8959 51.4062 52.5C51.4062 53.1041 51.8959 53.5938 52.5 53.5938Z"
                    fill="white"></path>
                <path
                    d="M70 53.5938C70.6041 53.5938 71.0938 53.1041 71.0938 52.5C71.0938 51.8959 70.6041 51.4062 70 51.4062C69.3959 51.4062 68.9062 51.8959 68.9062 52.5C68.9062 53.1041 69.3959 53.5938 70 53.5938Z"
                    fill="white"></path>
                <path
                    d="M0 71.0938C0.604061 71.0938 1.09375 70.6041 1.09375 70C1.09375 69.3959 0.604061 68.9062 0 68.9062C-0.604061 68.9062 -1.09375 69.3959 -1.09375 70C-1.09375 70.6041 -0.604061 71.0938 0 71.0938Z"
                    fill="white"></path>
                <path
                    d="M17.5 71.0938C18.1041 71.0938 18.5938 70.6041 18.5938 70C18.5938 69.3959 18.1041 68.9062 17.5 68.9062C16.8959 68.9062 16.4062 69.3959 16.4062 70C16.4062 70.6041 16.8959 71.0938 17.5 71.0938Z"
                    fill="white"></path>
                <path
                    d="M35 71.0938C35.6041 71.0938 36.0938 70.6041 36.0938 70C36.0938 69.3959 35.6041 68.9062 35 68.9062C34.3959 68.9062 33.9062 69.3959 33.9062 70C33.9062 70.6041 34.3959 71.0938 35 71.0938Z"
                    fill="white"></path>
                <path
                    d="M52.5 71.0938C53.1041 71.0938 53.5938 70.6041 53.5938 70C53.5938 69.3959 53.1041 68.9062 52.5 68.9062C51.8959 68.9062 51.4062 69.3959 51.4062 70C51.4062 70.6041 51.8959 71.0938 52.5 71.0938Z"
                    fill="white"></path>
                <path
                    d="M70 71.0938C70.6041 71.0938 71.0938 70.6041 71.0938 70C71.0938 69.3959 70.6041 68.9062 70 68.9062C69.3959 68.9062 68.9062 69.3959 68.9062 70C68.9062 70.6041 69.3959 71.0938 70 71.0938Z"
                    fill="white"></path>
            </g>
            <defs>
                <clipPath id="clip0_208_272">
                    <rect width="70" height="70" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>
