---
interface Props {
	title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/figtree";
import Header from "@components/Header.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Descubre las últimas noticias y novedades de SpaceX. Mantente al día con sus misiones, lanzamientos y avances tecnológicos."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-neutral-100">
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: "Figtree Variable", sans-serif;
	}

	.bg-custom-gradient {
		background-image: radial-gradient(
			ellipse at center,
			rgba(56, 68, 161, 0.25) 10%,
			rgba(49, 93, 194, 0.25) 60%,
			rgb(57, 88, 189, 0.25) 90%
		);
	}

	.text-custom-gradient {
		background-image: radial-gradient(
			ellipse at center right,
			rgba(43, 57, 161) 10%,
			rgb(69, 113, 212) 60%,
			rgb(57, 88, 189) 90%
		);
	}

	.shadow-custom {
		box-shadow: 0 0 15px rgb(78, 129, 255, 0.4);
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const toggleButton = document.getElementById("header-navbar-toggle");
		const navbar = document.getElementById("header-navbar");

		toggleButton.addEventListener("click", () => {
			const isExpanded =
				toggleButton.getAttribute("aria-expanded") === "true";

			toggleButton.setAttribute("aria-expanded", String(!isExpanded));

			navbar.setAttribute("data-open", String(!isExpanded));
		});
	});
</script>
